#dat, #acc, #hexout, #decout {
  width: 14em;
  height: 1.5em;
}
label {
  display: inline-block;
  width: 4em;
}
#log {
  width: 100%;
  white-space: pre;
  border: 2px solid red;
  font-size: 0.75em;
  font-family: 'Courier New', Courier, monospace;
}