body {
	background-color: #151e18;
	padding: 0 4% 4% 4%;
	font-family: courier, monospace;
	color: #a0a0a0;
}

h1, label, button, .center {
	color: #1d1;
	font-family: courier, monospace;
}

button {
	font-weight: bold;
	border-top: 2px solid #406040;
	border-left: 2px solid #204820;
	border-right: 2px solid #204820;
	border-bottom: 2px solid #123c12;
	background-color: #1c3321;
}

textarea, input, #prg {
	font-family: courier, monospace;
	font-size: 0.8em;
	color: #cfc;
	width: 100%;
	background-color: #1c3321;
	border-top: 2px solid #123c12;
	border-left: 2px solid #204820;
	border-right: 2px solid #204820;
	border-bottom: 2px solid #406040;
}

textarea { height: 40em; }

label {
	font-weight: bold;
}

.left { float: left; }

.right{ float: right; }

.center {
	text-align: center;
}

.clear { clear: both; }

.debug { width: 20em; }

a, a:link {
	color: #090;
}

a:visited {
	color: #484;
}

a:hover, a:active {
	color: #4f0;
}

#prg {
	margin-top: 1em;
	margin-bottom: 1.5em;
	width: 100%;
	background-color: #611;
}

#bar {
	height: .5em;
	background-color: #f00;
	width: 0%;
}

#chk {
	width: auto;
}
